name: Go

on:
  push:
    branches: [ '**' ]
    paths-ignore:
      - 'README.md'
      - 'example/README.md'
      - 'docs/**'
      - '.github/dependabot.yml'
  pull_request:
    branches: [ main ]
env:
  BINARY: 'server'

jobs:

  framework:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Bump version and push tag
      id: tag_version
      uses: mathieudutour/github-tag-action@v5.6
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: GO MOD VENDOR
      run: go mod vendor

    - name: Build
      run: |
        cd ./example  
        go build -v -a -tags netgo -ldflags "-X 'main.version=${{ steps.tag_version.outputs.new_tag }}' -extldflags '-static'" ./cmd/${{ env.BINARY }}  
        cd ..  

    - name: Test
      run: go test -v ./...

    - name: Test Example
      run: |
        cd ./example  
        go test -v ./...  
        cd ..  

    - name: Generate coverage report
      run: go test -cover -coverprofile="c.out" ./... && go tool cover -html="c.out" -o coverage.html

    - name: Upload coverage report
      uses: actions/upload-artifact@v2
      with:
        name: coverage-report
        path: coverage.html

    - name: Upload Vendor
      uses: actions/upload-artifact@v2
      with:
        name: vendor
        path: ./vendor

    - name: Upload build
      uses: actions/upload-artifact@v2
      with:
        name: build
        path: ./example/${{ env.BINARY }}

    - name: Create a GitHub release
      uses: actions/create-release@v1
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          tag_name: ${{ steps.tag_version.outputs.new_tag }}
          release_name: Release ${{ steps.tag_version.outputs.new_tag }}
          body: ${{ steps.tag_version.outputs.changelog }}
  example app:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2